@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --color1: #fbfdff;
    --color2: #4a4ca1;
}
body{
    background-color: #666bcf;
    color: var(--color1);
    font-family: 'Poppins', sans-serif;
}
.data{
 text-align: center;
 margin-bottom: 0;
}
input[type="text"]{
    background-color: var(--color1);
    background-repeat: no-repeat;
    border: transparent;
    border-radius: 15px;
    color: var(--color2);
    text-align: left;
    margin: 70px 10px;
    padding: 10px;
}
select{
    background-color: var(--color1);
    border-radius: 15px;
    font-style: oblique;
    color: var(--color2);
    padding: 10px;
    text-align: left;
}
button[type="submit"]{
    border-radius: 100%;
    background-color: var(--color1);
    color: var(--color2);
    margin-left: 10px;
    padding: 10px;
}
button[type="submit"]:hover{
    transform: scale(1.05);
}
.main_div{
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: var(--color1);
}
.container{
    display: none;
    width: 30%;
    margin: auto;
}
.card{
    border-radius: 50px;
    background: var(--color2);
    box-shadow: 5px 5px 10px #4a4ca1, -5px -5px 10px #6a6dd4;
    padding: 3%;

    text-align: center;
}
h2{
    margin-bottom: 1px;
}
.card h4{
    font-size: 4rem;
    font-weight: 400;
    margin: 0;
    color: #faca3b;
}
img{
    margin-top: 0;
    width: 20%;
}
h5{
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: capitalize;
}
h6{
    margin: 0;
    color: #faca3b;
}
button.refresh{
    display: block;
    width: 80px;
    margin: 10px auto;
    background: transparent;
    border: 0;
    color: var(--color1);
    font-size: 30px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #4a4ca1, -5px -5px 10px #6a6dd4;
}
button.refresh:hover{
    box-shadow: inset 10px 4px 10px #4a4ca1, inset 5px 5px 18px #6a6dd4;
}